<%= bootstrap_form_for(@listing, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :phone %>
  <%= f.text_area :address %>
  <%= f.text_field :postal_code %>
  <%= f.text_field :email %>
  <%= f.text_area :description %>
  <%= f.text_field :price %>
  <%= f.text_field :image_url %>
  <%= f.check_box :home_service %>
  <%= f.check_box :aggressive_pets_accepted %>
  <div class="submitbutton">
  <%= f.submit "Save listing" %>
	</div>
<% end %>