<p id="notice"><%= notice %></p>

<% if customer_signed_in? %>
<h1>Hello <%= @customer.username %></h1>
<% end %>

<div id="listings-table">

<br>
<h2>List of Pet Groomers</h2>

<div>
<% if @home_service_params == 'true' %>
			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<%= hidden_field_tag 'home_service', 'true' %>
					<div class="input-group-append border-0">
                        <span>
                            <button class="btn btn-info" type="submit" disabled>Home Service Only</button>
                        </span>
					</div>
			</div>
			<% end %>
			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<div class="input-group-append border-0">
                    <span>
                        <button class="btn btn-info" type="submit">All Groomers</button>
                    </span>
					</div>
			</div>
			<% end %>
		<% else %>
			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<%= hidden_field_tag 'home_service', 'true' %>
					<div class="input-group-append border-0">
                      <span>
                          <button class="btn btn-info" type="submit"> Home Service Only</button>
                      </span>
					</div>
			</div>
			<% end %>
      <br>
			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<div class="input-group-append border-0">
                    <span>
                        <button class="btn btn-info" type="submit" disabled>All Groomers</button>
                    </span>
					</div>
			</div>
			<% end %>
		<% end %>

 <br>
 <p><strong>Refine by price:</strong></p>
        <%= form_for "",url: listings_path, role: "search", method: :get do %>
       <%= text_field_tag :searchp, @search_pricen_term,placeholder: "Min..." %>
       <%= text_field_tag :searchpx, @search_pricex_term,placeholder: "Max..." %>
       <%= submit_tag "Go" %>
     <% end %>
<br>
<br>


<div class="container">
    <div class="row">
<% @listings.each do |listing| %>
        <div class="col-lg-4 mb-2 text-center" >
        <h5 id="listingname"><%= listing.name %></h5>
         <img src="<%=listing.image_url%>" width="200" height="auto"/>
        <br>
        <br>
        <p id="description"><%= listing.description %></p>
        <p><strong>Address: <br></strong><%= listing.address %></p>
        <p><strong>Postal code: </strong><%= listing.postal_code %></p>
        <p><strong>Phone: </strong><%= listing.phone %></p>
        <p><%= mail_to listing.email %></p>
        <p><strong>Price: </strong><%= listing.price %></p>
        <p><strong>Home service: </strong><%= human_boolean(listing.home_service) %></p>
        <p><strong>Aggressive pets accepted: </strong><%= human_boolean(listing.aggressive_pets_accepted) %></p>
        <span><button type="button" class="btn btn-info">
            <%= link_to 'Show', listing %>
                </button></span>
           <% if user_signed_in? %>
        <span><button type="button" class="btn btn-info">
            <%= link_to 'Edit', edit_listing_path(listing) %>
                </button></span>
        <span><button type="button" class="btn btn-info">
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button></span>
         <% end %>
        <br>
        <br>
        <br>
        </div>
      <% end %>

    </div>
</div>




</div>
  </div>
<div>
      <% if user_signed_in? %>
      <button type="button" class="btn btn-info">
        <%= link_to 'New Listing', new_listing_path %>
        </button>
    <% end %>

</div>
    <div id="search-results">
</div>
<br>
<div>
</div>