<p id="notice"><%= notice %></p>
<div id="listings-table">
<h1>Listings</h1>

<table>
<% if @home_service_params == 'true' %>
			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<%= hidden_field_tag 'home_service', 'true' %>
					<div class="input-group-append border-0">
						<button class="btn btn-primary rounded" type="submit" disabled >
							<i class="fas fa-filter mr-2"></i>Home Service Only
						</button>
					</div>
			</div>
			<% end %>
			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<div class="input-group-append border-0">
						<button class="btn btn-primary rounded" type="submit">
							<i class="fas fa-filter mr-2"></i>All Groomers
						</button>
					</div>
			</div>
			<% end %>

		<% else %>

			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<%= hidden_field_tag 'home_service', 'true' %>
					<div class="input-group-append border-0">
						<button class="btn btn-primary rounded" type="submit">
							<i class="fas fa-filter mr-2"></i>Home Service Only
						</button>
					</div>
			</div>
			<% end %>

			<%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
			<div class="input-group">
					<div class="input-group-append border-0">
						<button class="btn btn-primary rounded" type="submit" disabled>
							<i class="fas fa-filter mr-2"></i>All Groomers
						</button>
					</div>
			</div>
			<% end %>
		<% end %>
<br>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>Email</th>
      <th>Description</th>
      <th>Price</th>
      <th>See us</th>
      <th>Home service</th>
      <th>Aggressive pets accepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <%= image_tag (url_for(listing.image_url)) %>
        <td><%= listing.name %></td>
        <td><%= listing.phone %></td>
        <td><%= listing.address %></td>
        <td><%= listing.postal_code %></td>
        <td><%= listing.email %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
      
        <td><%= human_boolean(listing.home_service) %></td>
        <td><%= human_boolean(listing.aggressive_pets_accepted) %></td>

        <td><button type="button" class="btn btn-info">
            <%= link_to 'Show', listing %>
                </button></td>

        <td><button type="button" class="btn btn-info">
            <%= link_to 'Edit', edit_listing_path(listing) %>
                </button></td>

        <td><button type="button" class="btn btn-info">
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button></td>

      </tr>
    <% end %>
  </tbody>
</table>
  </div>
    <div id="search-results">
</div>

<br>

<div>

</div>
