<p id="notice"><%= notice %></p>
<div id="listings-table">
    <!--     testing this one, yet to work <h1>Welcome, <%= @email %></h1> -->
    <h1>Welcome, <%= @user.username %></h1>
<h1>Listings</h1>

<div>
<% if @home_service_params == 'true' %>
            <%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
            <div class="input-group">
                    <%= hidden_field_tag 'home_service', 'true' %>
                    <div class="input-group-append border-0">
                        <button class="btn btn-primary rounded" type="submit" disabled >
                            <span class="fas fa-filter mr-2"> Home Service Only</span>
                        </button>
                    </div>
            </div>
            <% end %>
            <%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
            <div class="input-group">
                    <div class="input-group-append border-0">
                        <button class="btn btn-primary rounded" type="submit">
                            <span class="fas fa-filter mr-2"> All Groomers</span>
                        </button>
                    </div>
            </div>
            <% end %>
        <% else %>
            <%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
            <div class="input-group">
                    <%= hidden_field_tag 'home_service', 'true' %>
                    <div class="input-group-append border-0">
                        <button class="btn btn-primary rounded" type="submit">
                            <span class="fas fa-filter mr-2"> Home Service Only</span>
                        </button>
                    </div>
            </div>
            <% end %>
            <%= form_tag(listings_path, method: "get", local: true, class: "d-inline-block m-2") do %>
            <div class="input-group">
                    <div class="input-group-append border-0">
                        <button class="btn btn-primary rounded" type="submit" disabled>
                            <span class="fas fa-filter mr-2"> All Groomers</span>
                        </button>
                    </div>
            </div>
            <% end %>
        <% end %>
<br>
<br>
<br>

<div class="container">
    <div class="row">
<% @listings.each do |listing| %>
        <div class="col-lg-4 mb-2 text-center" >
        <h4><%= listing.name %></h4>
        <%= image_tag(url_for(listing.image_url)) %>
        <h6><%= listing.description %></h6>
        <p><strong>Address: <br></strong><%= listing.address %></p>
        <p><strong>Postal code: </strong><%= listing.postal_code %></p>
        <p><strong>Phone: </strong><%= listing.phone %></p>
        <p><%= mail_to listing.email %></p>
        <p><strong>Price: </strong><%= listing.price %></p>
        <p><strong>Home service: </strong><%= human_boolean(listing.home_service) %></p>
        <p><strong>Aggressive pets accepted: </strong><%= human_boolean(listing.aggressive_pets_accepted) %></p>
        <span><button type="button" class="btn btn-info">
            <%= link_to 'Show', listing %>
                </button></span>
        <span><button type="button" class="btn btn-info">
            <%= link_to 'Edit', edit_listing_path(listing) %>
                </button></span>
        <span><button type="button" class="btn btn-info">
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        </button></span>
        </div>
      <% end %>
    </div>
</div>
</div>
</div>
<div>
<br>
<br>
      <% if user_signed_in? %>
      <button type="button" class="btn btn-info">
        <%= link_to 'New Listing', new_listing_path %>
        </button>
      <button type="button" class="btn btn-info">
        <%= link_to 'log out', destroy_user_session_url, method: :delete %>
        </button>
    <% end %>

</div>
    <div id="search-results">
</div>
<br>
<div>
</div>