<p id="notice"><%= notice %></p>
<h1>Your Search Results</h1>
<br>
<%if @search_results_listings.empty?%>
<h3>No result found</h3>
<%else%>



<div class="container">
    <div class="row">
    <% @search_results_listings.each do |listing| %>
    <div class="col-lg-4 mb-2 text-center" >
         <br>
        <h5 id="listingname"><%= listing.name %>
        <br>
        <img src="<%=listing.image_url%>" width="200" height="auto"/>
        <br>
        <br>
        <p id="description"><%= listing.description %></p>
        <p><strong>Address: <br></strong><%= listing.address %></p>
        <p><strong>Postal code: </strong><%= listing.postal_code %></p>
        <p><strong>Phone: </strong><%= listing.phone %></p>
        <p><%= mail_to listing.email %></p>
        <p><strong>Price: </strong><%= listing.price %></p>

        <p><strong>Home service: </strong><%= human_boolean(listing.home_service) %></p>
        <p><strong>Aggressive pets accepted: </strong><%= human_boolean(listing.aggressive_pets_accepted) %></p>

        <span><button type="button" class="btn btn-info">
            <%= link_to 'Show', listing %>
              <br>
                </button></span>
            <br>
 </div>

    <% end %>

</div>
</div>






  <% end %>
<br>

<div>

</div>
