<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @listing.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @listing.image_url %>
</p>

<p>
  <strong>Home service:</strong>
  <%= human_boolean(@listing.home_service) %>
</p>

<p>
  <strong>Aggressive pets accepted:</strong>
  <%= human_boolean(@listing.aggressive_pets_accepted) %>
</p>

<p>
	<strong>Reviews: </strong>
</p>

<ul>
	<% @reviews.each do |review| %>
		<li>
			<%= review.body %>
			Posted by <%= review.customer.email %> <%= time_ago_in_words(review.created_at) %> ago.
			<td><%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' }
			%></td>
		</li>
		<% end %>
</ul>

<%= form_with scope: :review, url: reviews_path, local: true do |form| %>
<p>
	Leave a review:
	<%= form.label :body %>
	<%= form.text_field :body %>
</p>

	<%= form.hidden_field :listing_id, value: @listing.id %>


<p>
	<%= form.submit %>
</p>

<% end %>

<button type="button" class="btn btn-warning">
<%= link_to 'Edit', edit_listing_path(@listing) %>
</button>

<button type="button" class="btn btn-warning">
<%= link_to 'Back', listings_path %>
</button>