<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @listing.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @listing.image_url %>
</p>

<p>
  <strong>Home service:</strong>
  <%= human_boolean(@listing.home_service) %>
</p>

<p>
  <strong>Aggressive pets accepted:</strong>
  <%= human_boolean(@listing.aggressive_pets_accepted) %>
</p>


<button type="button" class="btn btn-info">
=======
<p>
	<strong>Reviews: </strong>
</p>

<ul>
	<% @reviews.each do |review| %>
		<li>
			<%= review.body %>
			Posted by <%= review.customer.email %> <%= time_ago_in_words(review.created_at) %> ago.
			<td><%= link_to "Edit", edit_review_path(@listing, review)%></td>
			<td><%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' }
			%></td>
		</li>
		<% end %>
</ul>


<%= form_with scope: :review, model: @review, local: true do |f| %>
	<p>Add Review:
		<%= f.text_area :body %>
		</p>
	<p><%= f.submit %></p>
	<% end %>


<button type="button" class="btn btn-warning">

<%= link_to 'Edit', edit_listing_path(@listing) %>
</button>

<button type="button" class="btn btn-info">
<%= link_to 'Back', listings_path %>
</button>