<!DOCTYPE html>
<html>

  <head>

    <title>KleenPets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



<nav class="navbar navbar-expand-lg navbar-light text-light bg-info">
    <span class="navbar-brand text-light"></span><i class="fa fa-paw fa-3x" href="/listings"></i><a class="app-name" href="/listings"> KleenPets</a><!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <ul class="navbar-nav mr-auto">
        <div></div>

      <li class="nav-item nav-link text-light"></li>
    <% if user_signed_in? %>
    <li class="nav-item text-light">
        <%= hidden_field_tag 'Listings' %>

    </li>
    <li class="nav-item text-light">
        <%= link_to 'Log out', destroy_user_session_url, method: :delete, class: 'nav-link' %>
    </li>
        <% else %>
    <li class="nav-item text-light">
        <%= link_to 'Log in/Register (Groomers)', new_user_session_url, class: "nav-link" %>
    </li>
      <% end %>


<% if customer_signed_in? %>
    <li class="nav-item text-light">
        <%= hidden_field_tag 'Listings' %>
    </li>
    <li class="nav-item text-light">
        <%= link_to 'Log out', destroy_customer_session_url, method: :delete, class: 'nav-link' %>
    </li>
        <% else %>
    <li class="nav-item text-light">
        <%= link_to 'Log in/Register (Customers)', new_customer_session_url, class: "nav-link" %>
    </li>
      <% end %>
        </ul>
</div>

 <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
      <input class="form-control-lg input-xl" type="search" placeholder="Name, address, service" aria-label="Search" name="query">
      <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit">Search</button>
    </form>
</nav>
  </head>

  <body>

<%
=begin%>
https://stackoverflow.com/questions/4112103/devise-not-displaying-error-messge-during-an-authentication-failure
 <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>
<%
=end%>

    <%= yield %>


  </body>
</html>
