<!DOCTYPE html>
<html>
  <head>
    <title>KleenPets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">KleenPets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     <a class="nav-item nav-link" href="#">Find a Groomer</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Login</a>
    </div>
  </div>
    <form class="form-inline">
   <%= form_tag(listings_path, method: "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter search term" %>
  <%= submit_tag "Search" %>
<% end %>
    <%
=begin%>
 <input class="form-control mr-sm-2" type="search" input_tag :search, params[:search], placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for Groomers</button> 
<%
=end%>
  </form>
  
</nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
